@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--my-font-family);
}

.font {
  font-family: var(--my-font-family);
}

.custom-select .ant-select-selector {
  border-color: #007e85 !important;
  border-radius: 15px !important;
}

.custom-select .ant-select-focused .ant-select-selector {
  border-color: #007e85 !important;
  box-shadow: 0 0 0 2px rgba(0, 126, 133, 0.2) !important;
}

@media (max-width: 800px) {
  .logo-login {
    justify-content: center;
  }
}
@media (max-width: 956px) {
  .half-color-login {
    display: none;
  }
}
@media (max-width: 645px) {
  .package-renew {
    flex-wrap: wrap !important;
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .wave-tentangKami {
    top: -2% !important;
  }
}
@media (max-width: 1024px) {
  .button-tentangKami {
    justify-content: center !important;
    align-items: center !important;
  }

  .button-tentangKami .ant-btn {
    width: 100% !important;
  }
}
@media (max-width: 426px) {
  .sub-heading-pricing {
    width: 100% !important;
  }

  .form-width {
    width: "45%" !important;
  }

  .right-color {
    display: none;
  }
  .left-color {
    width: 100% !important;
  }

  .head-ten {
    justify-content: center !important;
    align-items: center !important;
  }
  .head-t {
    background-color: #007e85;
    border-radius: 20px;
    padding-inline: 10px;
    margin-top: 10px;
    font-size: 20px !important;
  }
}

/* sider trigger style */
.ant-layout .ant-layout-sider-trigger {
  background-color: white !important;
  color: #007e85 !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #007e85 !important;
  border-color: #007e85 !important;
}

/* Mengubah warna stroke dari titik */
.recharts-line-dot {
  stroke: #007e85 !important; /* Ganti dengan warna yang kamu inginkan */
}

/* Mengubah warna fill dari titik jika diperlukan */
.recharts-line-dot {
  fill: #007e85 !important; /* Ganti dengan warna yang kamu inginkan */
}
